<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>発言者の登録</title>
  </head>
  <body>
    <h1>発言者の登録</h1>
    <p>
      <form action="/register/person/post/" method="post">
        <p>*印は必須フィールドです</p>
        <p>
          実名<br/>
          <input type="text" name="real_name"
                 value="{{ person.real_name }}" /><br/>
          表示名<br/>
          <input type="text" name="display_name"
                 value="{{ person.display_name }}"/><br/>
          関連ページのURL（カンマ区切りで複数指定）<br/>
          <textarea name="url" cols="50" rows="5" wrap="soft">
{% set url_size = person_url | length -%}
{% for url in person_url -%}
{% if loop.index == url_size -%}
{{ url.url }}
{% else -%}
{{ url.url }},
{% endif -%}
{% endfor -%}
          </textarea><br/>
          Twitterアカウント（@は省略）<br/>
          <input type="text" name="twitter"
                 value="{{ person.twitter }}" /><br/>

          <input type="hidden" name="person_id"
                 value="{{ person.person_id }}" >
          <input type="submit">
        </p>
      </form>
    </p>
    <a href="/register/person/">戻る</a>
  </body>
</html>

