<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>発言者の登録</title>
  </head>
  <body>
    <h1>発言者の登録</h1>
    <form action="../../post/" method="post">
      <p>*印は必須フィールドです</p>
      <dl>
        <dt><label for="real_name">実名</label></dt>
        <dd>
        <input id="real_name" name="real_name" type="text" value="{{ person.real_name }}" />
        </dd>
        <dt><label for="display_name">*表示名</label></dt>
        <dd>
          <input id="display_name" name="display_name" type="text" required value="{{ person.display_name }}" />
        </dd>
        <dt><label for="url">関連ページのURL（カンマ区切りで複数指定）</label></dt>
        <dd>
          <textarea id="url" name="url" cols="50" rows="5" wrap="soft">
{% set url_size = person_url | length -%}
{% for url in person_url -%}
{% if loop.index == url_size -%}
{{ url.url }}
{% else -%}
{{ url.url }},
{% endif -%}
{% endfor -%}
          </textarea>
        </dd>
        <dt><label for="twitter">Twitterアカウント（@は省略）</label></dt>
        <dd>
          <input id="twitter" name="twitter" type="text" pattern="[a-zA-z0-9_]*" value="{{ person.twitter }}" />
        </dd>
        <input name="person_id" type="hidden" value="{{ person.person_id }}" >
      </dl>
      <button type="submit">送信</button>
    </form>
    <a href="..">戻る</a>
  </body>
</html>

