<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>タグの登録</title>
  </head>
  <body>
    <h1>タグの登録</h1>
    <form action="../../post/" method="post">
      <p>*印は必須フィールドです</p>
      <dl>
        <dt><label for="name">*タグ名</label></dt>
        <dd>
          <input id="name" name="name" type="text" required value="{{ tag.name }}" />
        </dd>
        <dt><label for="description">タグの説明</label></dt>
        <dd>
          <textarea id="description" name="description" cols="50" rows="5" wrap="soft">{{ tag.description }}</textarea>
        </dd>
      </dl>
      <input type="hidden" name="good_phrase_tag_id" value="{{ tag.good_phrase_tag_id }}" />
      <button type="submit">送信</button>
    </form>
    <a href="..">戻る</a>
  </body>
</html>

