<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>†いい発言†の登録</title>
  </head>
  <body>
    <h1>†いい発言†の登録</h1>
    <form action="../../post/" method="post">
      <p>*印は必須フィールドです</p>
      <dl>
        <dt><label for="title">*タイトル</label></dt>
        <dd>
          <input id="title" type="text" name="title" required value="{{ phrase.title }}" />
        </dd>
        <dt><label for="phrase">*発言</label></dt>
        <dd>
          <textarea id="phrase" name="phrase" cols="50" rows="5" wrap="soft" required>{{ phrase.phrase }}</textarea>
        </dd>
        <dt><label for="person_id">*発言者</label></dt>
        <dd>
          <select id="person_id" name="person_id" required>
            <option value="">--発言者を選択してください--</option>
            {% for person in all_person -%}
              <option value="{{ person.person_id }}"
                {% if person.person_id == phrase.person_id -%}
                  selected
                {% endif -%}
              >
                {{ person.display_name }}
              </option>
            {% endfor -%}
          </select>
        </dd>
        <dt><label for="url">元ネタURL</label></dt>
        <dd>
          <input id="url" name="url" type="text" value="{{ phrase.url }}" />
        </dd>
        <dt>*元ネタ削除済み？</dt>
        <dd>
          <div>
            <input id="deleted_true" name="deleted" type="radio"
              {% if phrase.deleted -%}checked{% endif -%}
            />
            <label for="deleted_true">Yes</label>
          </div>
          <div>
            <input id="deleted_false" name="deleted" type="radio" value="false"
              {% if not phrase.deleted -%}checked{% endif -%}
            />
            <label for="deleted_false">No または不明</label>
          </div>
        </dd>
        <dt><label for="published_at">元ネタ投稿日時（<code>YYYY-MM-DDThh:mm:ss</code> で入力）</label></dt>
        <dd>
          <input id="published_at" name="published_at" type="text" value="{{ phrase.published_at }}" />
        </dd>
        <dt>タグ</dt>
        <dd>
          <ul>
            {% for tag in all_tag -%}
              <li>
                <input name="tags_{{ tag.good_phrase_tag_id }}" type="checkbox" value="{{ tag.good_phrase_tag_id }}"
                   {% for ptag in phrase_tag -%}
                     {% if tag.good_phrase_tag_id == ptag.good_phrase_tag_id -%}
                       checked{% break -%}
                     {% endif -%}
                   {% endfor -%}
                />
                <label for="tags_{{ tag.good_phrase_tag_id }}">{{ tag.name }}</label>
              </li>
            {% endfor -%}
          </ul>
        </dd>
      </dl>
      <input name="good_phrase_id" type="hidden" value="{{ phrase.good_phrase_id }}" />
      {% for person in all_person -%}
        <input name="person_name_{{ person.person_id }}" type="hidden" value="{{ person.display_name }}" />
      {% endfor -%}
      {% for tag in all_tag -%}
        <input name="tag_name_{{ tag.good_phrase_tag_id }}" type="hidden" value="{{ tag.name }}" />
      {% endfor -%}
      <button type="submit">送信</button>
    </form>
    <a href="..">戻る</a>
  </body>
</html>

